*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  overflow: hidden;

  user-select: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
canvas{
  border: 2px solid grey;
  image-rendering: pixelated;
}
button {
  all: unset; /* Removes all default styles */
  background: none; /* Ensures no background is applied */
  border: none; /* Removes borders */
  padding: 0; /* Removes default padding */
  font: inherit; /* Inherit font from parent */
  color: inherit; /* Inherit text color from parent */
  cursor: pointer; /* Optional: Set cursor to pointer to indicate it's clickable */
  user-select: none;
  outline:none;
}
#soundbtn{
  position: absolute;
  left: 2%;
  top: 5%;
  font-size: 1.5rem;
}
.wrap{
  position: relative;
}
/* @media (max-width: 768px) and (orientation: landscape) {
body{
  height:auto;
}
}  */